.notify
	&
		all: initial
		position: absolute
		top: 15px
		right: 15px
		background: #fff
		display: block
		padding: 10px 15px
		border-radius: 10px
		font-size: 16px

	&_error
		background-color: red

	&_success
		background-color: green
		color: #fff

	&_show
		display: block

	&_hide
		display: none
